<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h2 class="title"><%= title %></h2>
        <a href="/add"><button class="btn btn-sm btn-success" type="button" data-cy="addUser">Adicionar Usuário</button></a><br/><br/>
        <table class="table background-table table-striped">
            <thead>
            <tr>
                <th class="tr-color">Nome</th>
                <th class="tr-color">Email</th>
                <th class="tr-color">Senha</th>
                <th class="tr-color">Opções</th>
            </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user, index){ %>
                    <tr>
                        <td class="tr-color"><%= user.name %></td>
                        <td class="tr-color"><%= user.email %></td>
                        <td class="tr-color"><%= user.pwd %></td>
                        <td>
                            <a href="edit/<%= user.id%>" data-cy="edit-<%= index%>" class="btn btn-sm btn-primary mr-3">Editar</a>
                            <a href="delete/<%= user.id %>" data-cy="delete-<%= index%>" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        
    </div>
